.footer {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 60px;
}




@media screen and (max-width:768px) {
    .footer {
        margin-left: 94px;
        margin-right:94px;
    }
}

@media screen and (max-width:657px){
    .footer{
        margin:0 auto;
        margin-left:33px;
        margin-top:50px;
        margin-bottom: 38px;
        max-width:282px;
    }
}

@media screen and (max-width:320px) {
    .footer {
        margin: 0 auto;
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
    }
}