.profile__name {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-right:18px;
    text-overflow: ellipsis;
}

@media screen and (max-width:320px) {
    .profile__name {
        display: flex;
        margin: 0 auto;
        margin-right:10px;
        margin-left:65px;
        max-width: 240px;
        font-size: 27px;
        line-height: 33px;
        justify-content: center;
        align-items: center;
    }
}