.profile__button_pic {
    margin: 0;
    max-width: 24px;
    max-height: 24px;
   
}

@media screen and (max-width:320px){
    .profile__button_pic{
        display: flex;
        flex-direction: row;
        max-width: 18px;
    }
}