.profile__info {
    margin: 0;
    color: white;
    margin-left: 30px;
    text-overflow: ellipsis;
    vertical-align: middle;
}
@media screen and (max-width:640px){
    .profile__info{
        margin:0 auto;
        margin-top:15px;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    .profile__info {
        margin: 0;
        margin-top: 26px;
    }
}